@import "./index.scss";

header {
  padding: 2rem;
  @include flex(row);
  justify-content: space-between;
  background-color: $blue;
  margin-bottom: 3rem;

  nav ul {
    @include flex(row);
    gap: 1rem;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem;
  padding: 1rem;

  .article-card {
    cursor: pointer;

    .article-body {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.article {
  @include flex(column);
  gap: 2rem;

  .article-card {
    width: 500px;

    .container {
      @include flex(column);
      align-items: start;
      gap: 1rem;
    }
  }

  .comments {
    @include flex(column);

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-gap: 2rem;
      padding: 1rem;
    }
  }
}

.login {
  
  .form-signIn {
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
    display: block;
    @include flex(column);
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.75);

    label {
      align-self: start;
    }

    input {
      width: 100%;
    }

    button {
      width: 50%;
    }
  }
}

//loader settings
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $light-bg;
  font-size: 3rem;
  color: $black;
  font-weight: 500;
  z-index: 1001;
  @include flex(row);
  justify-content: center;

  &::after {
    content: "\2026";
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
  }
}

//animation
@keyframes dots {
  to {
    width: 2.5rem;
  }
}
